@{
  Layout = "_Layout";
}

@model Registrar.Models.Department

<h2>Edit</h2>

<h4>Edit this department: @Html.DisplayFor(model => model.Focus)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DepartmentId)

  @Html.LabelFor(model => model.Focus)
  @Html.EditorFor(model => model.Focus)

  @Html.Label("Add course")
  @Html.DropDownList("CourseId")

  @Html.Label("Add students")
  @Html.DropDownList("StudentId")

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>